{% extends "base-layout.html.twig" %}

{% block body %}

    <form method="post" action="">
        <div class="form-group">
            <input type="text" name="_username"
                   class="form-control"
                   placeholder="Votre Nom"
            >
        </div>
        <div class="form-group">
            <input type="text" name="_username"
                   class="form-control"
                   placeholder="Votre Prénom"
            >
        </div>
        <div class="form-group">
            <input type="password" name="_password"
                   class="form-control"
                   placeholder="Votre mot de passe"
            >
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                Valider
            </button>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('login_admin') }}">Inscription </a></li>

            </ul>
        </div>

    </form>


{% endblock %}